SQLLITE is inmemory database
bydefault it will be installed in mobile
it will create .db file in tabular format in local pc

In [2]:
import sqlite3

In [4]:
db=sqlite3.connect("ineuron.db")     #will create ineuron .db file and keep structured data inside it

In [5]:
db

In [6]:
ls

Assignment 1.ipynb              exception handling.ipynb
Assignment 2.ipynb              graphical python module
Assignment_1.docx               ineuron.db
Assignment_2.docx               mongodb.ipynb
Logging.ipynb                   mydict.py
Module.ipynb                    pkg1/
OOPS Class.ipynb                pkg2/
Programming Assignment 1.ipynb  test.log
Programming Assignment 2.ipynb  test.py
Programming_Assingment 3.ipynb  test1.py
Programming_Assingment1.docx    test2.log
Programming_Assingment2.docx    test3.log
Programming_Assingment3.docx    yogi/
SQLLITE.ipynb                   ~$ogramming_Assingment3.docx
__pycache__/

In [7]:
c = db.cursor()

In [8]:
c.execute("create table fsds(name txt, batchid int, marks real)")

In [10]:
c.execute("insert into fsds values('sudh',3434,456.67)")

In [11]:
c.execute("insert into fsds values('sudh',3434,456.61)")

In [12]:
c.execute("insert into fsds values('sudh',3435,456.67)")

In [13]:
c.execute("insert into fsds values('sudhi',3434,456.67)")

In [14]:
c.execute("insert into fsds values('sudh',3434,456.67)")
c.execute("insert into fsds values('sudh',3434,456.67)")
c.execute("insert into fsds values('sudh',3434,456.67)")
c.execute("insert into fsds values('sudh',3434,456.67)")
c.execute("insert into fsds values('sudh',3434,456.67)")

In [15]:
data = c.execute("select * from fsds")

In [16]:
for i in data:
    print(i)

('sudh', 3434, 456.67)
('sudh', 3434, 456.61)
('sudh', 3435, 456.67)
('sudhi', 3434, 456.67)
('sudh', 3434, 456.67)
('sudh', 3434, 456.67)
('sudh', 3434, 456.67)
('sudh', 3434, 456.67)
('sudh', 3434, 456.67)

In [17]:
db.commit()

In [18]:
db.close()

In [19]:
db = sqlite3.connect("ineuron.db")

In [20]:
c=db.cursor()

In [22]:
data = c.execute("select * from fsds where marks<456.67")

In [23]:
for i in data:
    print(i)

('sudh', 3434, 456.61)

In [24]:
data = c.execute("select * from fsds where name = 'sudhi'")

In [25]:
for i in data:
    print(i)

('sudhi', 3434, 456.67)

In [26]:
data = c.execute("select name,marks from fsds")

In [27]:
for i in data:
    print(i)

('sudh', 456.67)
('sudh', 456.61)
('sudh', 456.67)
('sudhi', 456.67)
('sudh', 456.67)
('sudh', 456.67)
('sudh', 456.67)
('sudh', 456.67)
('sudh', 456.67)

In [28]:
data=c.execute("select name,marks from fsds order by marks")

In [29]:
for i in data:
    print(i)

('sudh', 456.61)
('sudh', 456.67)
('sudh', 456.67)
('sudhi', 456.67)
('sudh', 456.67)
('sudh', 456.67)
('sudh', 456.67)
('sudh', 456.67)
('sudh', 456.67)

In [32]:
data=c.execute("select name,marks from fsds des order by marks")

In [33]:
for i in data:
    print(i)

('sudh', 456.61)
('sudh', 456.67)
('sudh', 456.67)
('sudhi', 456.67)
('sudh', 456.67)
('sudh', 456.67)
('sudh', 456.67)
('sudh', 456.67)
('sudh', 456.67)

In [34]:
data=c.execute("select name,marks from fsds asc order by marks")

In [35]:
for i in data:
    print(i)

('sudh', 456.61)
('sudh', 456.67)
('sudh', 456.67)
('sudhi', 456.67)
('sudh', 456.67)
('sudh', 456.67)
('sudh', 456.67)
('sudh', 456.67)
('sudh', 456.67)

In [36]:
db.close()

In [37]:
db=sqlite3.connect("person.db")

In [38]:
c=db.cursor()

In [39]:
c.execute("create table person_table(name text, emailid text, age int, salary real)")

In [40]:
ls

Assignment 1.ipynb              exception handling.ipynb
Assignment 2.ipynb              graphical python module
Assignment_1.docx               ineuron.db
Assignment_2.docx               mongodb.ipynb
Logging.ipynb                   mydict.py
Module.ipynb                    person.db
OOPS Class.ipynb                pkg1/
Programming Assignment 1.ipynb  pkg2/
Programming Assignment 2.ipynb  test.log
Programming_Assingment 3.ipynb  test.py
Programming_Assingment1.docx    test1.py
Programming_Assingment2.docx    test2.log
Programming_Assingment3.docx    test3.log
SQLLITE.ipynb                   yogi/
__pycache__/                    ~$ogramming_Assingment3.docx

In [42]:
c.execute("insert into person_table values('yogi', 'yogeshkumar.jsr@gmail.com', 33,45545)")
c.execute("insert into person_table values('pooja', 'poojasahu.jsr@gmail.com', 29,45543)")
c.execute("insert into person_table values('manharan', 'manharankumar.jsr@gmail.com', 56,455453)")
c.execute("insert into person_table values('nandini', 'nandinikumari.jsr@gmail.com', 54,4554543)")
c.execute("insert into person_table values('sanket', 'sanketkumar.jsr@gmail.com', 22,455425)")

In [43]:
data=c.execute("select * from person_table")

In [44]:
for i in data:
    print (i)

('yogi', 'yogeshkumar.jsr@gmail.com', 33, 45545.0)
('pooja', 'poojasahu.jsr@gmail.com', 29, 45543.0)
('manharan', 'manharankumar.jsr@gmail.com', 56, 455453.0)
('nandini', 'nandinikumari.jsr@gmail.com', 54, 4554543.0)
('sanket', 'sanketkumar.jsr@gmail.com', 22, 455425.0)

In [45]:
db.commit()

In [46]:
db.close()

In [47]:
db=sqlite3.connect("ineuron.db")

In [48]:
c=db.cursor()

In [49]:
c.execute("drop table fsds")

In [50]:
data=c.execute("select * from fsds")

OperationalError: no such table: fsds

In [51]:
ls

Assignment 1.ipynb              exception handling.ipynb
Assignment 2.ipynb              graphical python module
Assignment_1.docx               ineuron.db
Assignment_2.docx               mongodb.ipynb
Logging.ipynb                   mydict.py
Module.ipynb                    person.db
OOPS Class.ipynb                pkg1/
Programming Assignment 1.ipynb  pkg2/
Programming Assignment 2.ipynb  test.log
Programming_Assingment 3.ipynb  test.py
Programming_Assingment1.docx    test1.py
Programming_Assingment2.docx    test2.log
Programming_Assingment3.docx    test3.log
SQLLITE.ipynb                   yogi/
__pycache__/                    ~$ogramming_Assingment3.docx

In [52]:
db.close()

In [53]:
db=sqlite3.connect("person.db")

In [54]:
c=db.cursor()

In [55]:
data = c.execute("select * from person_table limit 2")

In [56]:
for i in data:
    print(i)

('yogi', 'yogeshkumar.jsr@gmail.com', 33, 45545.0)
('pooja', 'poojasahu.jsr@gmail.com', 29, 45543.0)

In [57]:
db.close()

In [58]:
db=sqlite3.connect("joddb.db")

In [59]:
c=db.cursor()

In [60]:
c.execute("create table student (student_id int, student_name text, student_mailid text, marks int)")

In [66]:
c.execute("create table address(student_id int, pincode int, location txt, nearby text, phone_no int)")

OperationalError: table address already exists

In [67]:
c.execute("drop table address")

In [68]:
c.execute("create table address(student_id int, pincode int, location txt, nearby text, phone_no int)")

In [63]:
c.execute("insert into student values(234,'pooja','poojasahudmt@gmail.com',234)")

In [65]:
c.execute("insert into student values(234,'pooja','poojasahudmt@gmail.com',234)")
c.execute("insert into student values(235,'aooja','aoojasahudmt@gmail.com',235)")
c.execute("insert into student values(236,'qooja','soojasahudmt@gmail.com',232)")
c.execute("insert into student values(237,'wooja','doojasahudmt@gmail.com',237)")
c.execute("insert into student values(238,'eooja','foojasahudmt@gmail.com',233)")
c.execute("insert into student values(239,'rooja','goojasahudmt@gmail.com',238)")
c.execute("insert into student values(243,'tooja','hoojasahudmt@gmail.com',231)")
c.execute("insert into student values(245,'yooja','joojasahudmt@gmail.com',232)")

In [69]:
c.execute("insert into address values(236,560034, 'varthur','whitefield',8197856704)")

In [70]:
c.execute("insert into address values(236,5600347, 'varthur','whitefield',8197856704)")
c.execute("insert into address values(23455,5600345, 'qarthur','ahitefield',1197856704)")
c.execute("insert into address values(2676,5600342, 'warthur','shitefield',2197856704)")
c.execute("insert into address values(2326,56003434, 'earthur','dhitefield',3197856704)")
c.execute("insert into address values(2361,56003412, 'rarthur','fhitefield',4197856704)")
c.execute("insert into address values(23634,56003445, 'tarthur','ghitefield',5197856704)")
c.execute("insert into address values(2362,56003423, 'yarthur','hhitefield',6197856704)")
c.execute("insert into address values(23656,560045, 'uarthur','jhitefield',7197856704)")
c.execute("insert into address values(2361,5600334, 'iarthur','khitefield',8197856704)")

In [74]:
data = c.execute("select * from student")

In [75]:
for i in data:
    print(i)

(234, 'pooja', 'poojasahudmt@gmail.com', 234)
(234, 'pooja', 'poojasahudmt@gmail.com', 234)
(234, 'pooja', 'poojasahudmt@gmail.com', 234)
(234, 'pooja', 'poojasahudmt@gmail.com', 234)
(234, 'pooja', 'poojasahudmt@gmail.com', 234)
(234, 'pooja', 'poojasahudmt@gmail.com', 234)
(234, 'pooja', 'poojasahudmt@gmail.com', 234)
(234, 'pooja', 'poojasahudmt@gmail.com', 234)
(234, 'pooja', 'poojasahudmt@gmail.com', 234)
(234, 'pooja', 'poojasahudmt@gmail.com', 234)
(235, 'aooja', 'aoojasahudmt@gmail.com', 235)
(236, 'qooja', 'soojasahudmt@gmail.com', 232)
(237, 'wooja', 'doojasahudmt@gmail.com', 237)
(238, 'eooja', 'foojasahudmt@gmail.com', 233)
(239, 'rooja', 'goojasahudmt@gmail.com', 238)
(243, 'tooja', 'hoojasahudmt@gmail.com', 231)
(245, 'yooja', 'joojasahudmt@gmail.com', 232)

In [76]:
data = c.execute("select * from address")

In [77]:
for i in data:
    print(i)

(236, 560034, 'varthur', 'whitefield', 8197856704)
(236, 5600347, 'varthur', 'whitefield', 8197856704)
(23455, 5600345, 'qarthur', 'ahitefield', 1197856704)
(2676, 5600342, 'warthur', 'shitefield', 2197856704)
(2326, 56003434, 'earthur', 'dhitefield', 3197856704)
(2361, 56003412, 'rarthur', 'fhitefield', 4197856704)
(23634, 56003445, 'tarthur', 'ghitefield', 5197856704)
(2362, 56003423, 'yarthur', 'hhitefield', 6197856704)
(23656, 560045, 'uarthur', 'jhitefield', 7197856704)
(2361, 5600334, 'iarthur', 'khitefield', 8197856704)

In [79]:
data = c.execute("select * from student s left join address a on s.student_id=a.student_id")

In [80]:
for i in data:
    print(i)

(234, 'pooja', 'poojasahudmt@gmail.com', 234, None, None, None, None, None)
(234, 'pooja', 'poojasahudmt@gmail.com', 234, None, None, None, None, None)
(234, 'pooja', 'poojasahudmt@gmail.com', 234, None, None, None, None, None)
(234, 'pooja', 'poojasahudmt@gmail.com', 234, None, None, None, None, None)
(234, 'pooja', 'poojasahudmt@gmail.com', 234, None, None, None, None, None)
(234, 'pooja', 'poojasahudmt@gmail.com', 234, None, None, None, None, None)
(234, 'pooja', 'poojasahudmt@gmail.com', 234, None, None, None, None, None)
(234, 'pooja', 'poojasahudmt@gmail.com', 234, None, None, None, None, None)
(234, 'pooja', 'poojasahudmt@gmail.com', 234, None, None, None, None, None)
(234, 'pooja', 'poojasahudmt@gmail.com', 234, None, None, None, None, None)
(235, 'aooja', 'aoojasahudmt@gmail.com', 235, None, None, None, None, None)
(236, 'qooja', 'soojasahudmt@gmail.com', 232, 236, 560034, 'varthur', 'whitefield', 8197856704)
(236, 'qooja', 'soojasahudmt@gmail.com', 232, 236, 5600347, 'varthur', 'whitefield', 8197856704)
(237, 'wooja', 'doojasahudmt@gmail.com', 237, None, None, None, None, None)
(238, 'eooja', 'foojasahudmt@gmail.com', 233, None, None, None, None, None)
(239, 'rooja', 'goojasahudmt@gmail.com', 238, None, None, None, None, None)
(243, 'tooja', 'hoojasahudmt@gmail.com', 231, None, None, None, None, None)
(245, 'yooja', 'joojasahudmt@gmail.com', 232, None, None, None, None, None)

In [81]:
data = c.execute("select * from student s right join address a on s.student_id=a.student_id")

OperationalError: RIGHT and FULL OUTER JOINs are not currently supported

In [83]:
data = c.execute("select * from student s left join address a on s.student_id=a.student_id where a.student_id is not null"
                )

In [84]:
for i in data:
    print(i)

(236, 'qooja', 'soojasahudmt@gmail.com', 232, 236, 560034, 'varthur', 'whitefield', 8197856704)
(236, 'qooja', 'soojasahudmt@gmail.com', 232, 236, 5600347, 'varthur', 'whitefield', 8197856704)

In [85]:
data = c.execute("select * from address s left join student a on s.student_id=a.student_id")

In [86]:
for i in data:
    print(i)

(236, 560034, 'varthur', 'whitefield', 8197856704, 236, 'qooja', 'soojasahudmt@gmail.com', 232)
(236, 5600347, 'varthur', 'whitefield', 8197856704, 236, 'qooja', 'soojasahudmt@gmail.com', 232)
(23455, 5600345, 'qarthur', 'ahitefield', 1197856704, None, None, None, None)
(2676, 5600342, 'warthur', 'shitefield', 2197856704, None, None, None, None)
(2326, 56003434, 'earthur', 'dhitefield', 3197856704, None, None, None, None)
(2361, 56003412, 'rarthur', 'fhitefield', 4197856704, None, None, None, None)
(23634, 56003445, 'tarthur', 'ghitefield', 5197856704, None, None, None, None)
(2362, 56003423, 'yarthur', 'hhitefield', 6197856704, None, None, None, None)
(23656, 560045, 'uarthur', 'jhitefield', 7197856704, None, None, None, None)
(2361, 5600334, 'iarthur', 'khitefield', 8197856704, None, None, None, None)

In [87]:
data = c.execute("select * from address s left join student a on s.student_id=a.student_id where a.student_id is not null"
                )

In [88]:
for i in data:
    print(i)

(236, 560034, 'varthur', 'whitefield', 8197856704, 236, 'qooja', 'soojasahudmt@gmail.com', 232)
(236, 5600347, 'varthur', 'whitefield', 8197856704, 236, 'qooja', 'soojasahudmt@gmail.com', 232)

In [92]:
data=c.execute("delete from student where student_id >239")

In [94]:
for i in data:
    print(i)

In [95]:
for i in c.execute("select * from student"):
    print(i)

(234, 'pooja', 'poojasahudmt@gmail.com', 234)
(234, 'pooja', 'poojasahudmt@gmail.com', 234)
(234, 'pooja', 'poojasahudmt@gmail.com', 234)
(234, 'pooja', 'poojasahudmt@gmail.com', 234)
(234, 'pooja', 'poojasahudmt@gmail.com', 234)
(234, 'pooja', 'poojasahudmt@gmail.com', 234)
(234, 'pooja', 'poojasahudmt@gmail.com', 234)
(234, 'pooja', 'poojasahudmt@gmail.com', 234)
(234, 'pooja', 'poojasahudmt@gmail.com', 234)
(234, 'pooja', 'poojasahudmt@gmail.com', 234)
(235, 'aooja', 'aoojasahudmt@gmail.com', 235)
(236, 'qooja', 'soojasahudmt@gmail.com', 232)
(237, 'wooja', 'doojasahudmt@gmail.com', 237)
(238, 'eooja', 'foojasahudmt@gmail.com', 233)
(239, 'rooja', 'goojasahudmt@gmail.com', 238)

In [96]:
data.fetchall()

[]

In [97]:
data=c.execute("select * from student")

In [98]:
data.fetchall()

[(234, 'pooja', 'poojasahudmt@gmail.com', 234),
 (234, 'pooja', 'poojasahudmt@gmail.com', 234),
 (234, 'pooja', 'poojasahudmt@gmail.com', 234),
 (234, 'pooja', 'poojasahudmt@gmail.com', 234),
 (234, 'pooja', 'poojasahudmt@gmail.com', 234),
 (234, 'pooja', 'poojasahudmt@gmail.com', 234),
 (234, 'pooja', 'poojasahudmt@gmail.com', 234),
 (234, 'pooja', 'poojasahudmt@gmail.com', 234),
 (234, 'pooja', 'poojasahudmt@gmail.com', 234),
 (234, 'pooja', 'poojasahudmt@gmail.com', 234),
 (235, 'aooja', 'aoojasahudmt@gmail.com', 235),
 (236, 'qooja', 'soojasahudmt@gmail.com', 232),
 (237, 'wooja', 'doojasahudmt@gmail.com', 237),
 (238, 'eooja', 'foojasahudmt@gmail.com', 233),
 (239, 'rooja', 'goojasahudmt@gmail.com', 238)]

In [99]:
c.execute("update student set student_id=1000 where student_id>237")

In [100]:
data=c.execute("select * from student")

In [101]:
data.fetchall()

[(234, 'pooja', 'poojasahudmt@gmail.com', 234),
 (234, 'pooja', 'poojasahudmt@gmail.com', 234),
 (234, 'pooja', 'poojasahudmt@gmail.com', 234),
 (234, 'pooja', 'poojasahudmt@gmail.com', 234),
 (234, 'pooja', 'poojasahudmt@gmail.com', 234),
 (234, 'pooja', 'poojasahudmt@gmail.com', 234),
 (234, 'pooja', 'poojasahudmt@gmail.com', 234),
 (234, 'pooja', 'poojasahudmt@gmail.com', 234),
 (234, 'pooja', 'poojasahudmt@gmail.com', 234),
 (234, 'pooja', 'poojasahudmt@gmail.com', 234),
 (235, 'aooja', 'aoojasahudmt@gmail.com', 235),
 (236, 'qooja', 'soojasahudmt@gmail.com', 232),
 (237, 'wooja', 'doojasahudmt@gmail.com', 237),
 (1000, 'eooja', 'foojasahudmt@gmail.com', 233),
 (1000, 'rooja', 'goojasahudmt@gmail.com', 238)]

In [103]:
db.close()

In [104]:
ls

Assignment 1.ipynb              graphical python module
Assignment 2.ipynb              ineuron.db
Assignment_1.docx               joddb.db
Assignment_2.docx               mongodb.ipynb
Logging.ipynb                   mydict.py
Module.ipynb                    person.db
OOPS Class.ipynb                pkg1/
Programming Assignment 1.ipynb  pkg2/
Programming Assignment 2.ipynb  test.log
Programming_Assingment 3.ipynb  test.py
Programming_Assingment1.docx    test1.py
Programming_Assingment2.docx    test2.log
Programming_Assingment3.docx    test3.log
SQLLITE.ipynb                   yogi/
__pycache__/                    ~$ogramming_Assingment3.docx
exception handling.ipynb

In [106]:
l=[1,2,3,4,5]
l1=[]

In [107]:
for i in l:
    i=i+5
    l1.append(i)

In [108]:
l1

[6, 7, 8, 9, 10]

In [109]:
[i+5 for i in l]

[6, 7, 8, 9, 10]

In [110]:
def test(a):
    return a+5

In [111]:
map(test,l)

In [112]:
list(map(test,l))

[6, 7, 8, 9, 10]

In [113]:
def test1(a):
    return a*3435+566

In [115]:
list(map(test1,l))

[4001, 7436, 10871, 14306, 17741]

In [116]:
l1=['234','345','567','123','231']

In [117]:
def strtoint(a):
    return int(a)

In [118]:
list(map(strtoint,l1))

[234, 345, 567, 123, 231]

In [119]:
list(map(lambda x:int(x),l1))

[234, 345, 567, 123, 231]

In [120]:
list(map(lambda x:x+5,l))

[6, 7, 8, 9, 10]

In [122]:
l=[4,5,6,7,32,12,23,11,56,234,651]

In [123]:
list(map(lambda x:x%2==0,l))

[True, False, True, False, True, True, False, False, True, True, False]

In [125]:
def evennum(x):
    if x%2==0:
        return x

In [124]:
[i for i in l if i%2==0]

[4, 6, 32, 12, 56, 234]

filter operation , map will do the operation in all the items but filter will filter the items

In [126]:
list(filter(evennum,l))

[4, 6, 32, 12, 56, 234]

In [127]:
list(filter(lambda x:x%2==0,l))

[4, 6, 32, 12, 56, 234]

Reduce function

Reduce Function

In [128]:
from functools import reduce

In [129]:
l=[3,4,5,6,7,8,3]

In [130]:
def test5(a,b):
    return a+b

In [131]:
reduce(test5,l)

36

In [132]:
def test6(a,b,c):
    return a+b+c

In [133]:
reduce(test6,l)

TypeError: test6() missing 1 required positional argument: 'c'

In [135]:
l=[3]

In [136]:
reduce(test5,l)

3

In [137]:
l=[]

In [138]:
reduce(test5,l)

TypeError: reduce() of empty sequence with no initial value

In [139]:
l=[1,2,3,4,5,6,7]

In [140]:
reduce(lambda x,y:x+y,l)

28

In [144]:
l=[1,2,3,4,5]
l1=[4,5,6,7,7,8]

In [145]:
list(zip(l,l1))

[(1, 4), (2, 5), (3, 6), (4, 7), (5, 7)]

In [146]:
l2=["yogesh","kumar","pooja","sahu","sanku","preeti"]

In [147]:
list(zip(l,l1,l2))

[(1, 4, 'yogesh'),
 (2, 5, 'kumar'),
 (3, 6, 'pooja'),
 (4, 7, 'sahu'),
 (5, 7, 'sanku')]

Task for Today:
q1=try to find out a count of each and every word in a respective file returna list of tuple with word and its respective count
sample example:[('sudh',6),('kumar,3)]
q2=try to perform a reduce operation to get a count of all the word starting with same alphabet
sample example=[(a,23),(b,34),..

q3=try to filter out all the word dataset
.001.abstract=abstract
.003=delete
q4= create a tuple set for all the records available in all the five file and then store it in sqllite db
(aah,>=,354,fdsf,wer)

https://codeshare.io/X8PY8Y